type UseAsyncState<T> = {
    loading: boolean;
    error: Error | undefined;
    value: T | undefined;
};

export function useAsync<T>(
    callback: () => Promise<T>,
    dependencies: unknown[] = []
): UseAsyncState<T> {
    const [state, setState] = useState<UseAsyncState<T>>({
        loading: true,
        error: undefined,
        value: undefined,
    });

    useEffect(() => {
        let isMounted = true;
        
        // Reset state for new request
        setState((prev) => ({
            ...prev,
            loading: true,
            error: undefined,
            value: undefined,
        }));

        callback()
            .then((value) => {
                if (isMounted) {
                    setState({
                        loading: false,
                        error: undefined,
                        value,
                    });
                }
            })
            .catch((error) => {
                if (isMounted) {
                    setState({
                        loading: false,
                        error: error instanceof Error ? error : new Error(String(error)),
                        value: undefined,
                    });
                }
            });

        return () => {
            isMounted = false;
        };
    }, dependencies); // eslint-disable-line react-hooks/exhaustive-deps

    return state;
}