type UseClickOutsideCallback<T extends Event> = (event: T) => void;

function useClickOutside<T extends Event>(ref: React.RefObject<HTMLElement>, cb: UseClickOutsideCallback<T>): void {
    useEventListener<T>("click", (e: T) => {
        if (ref.current == null || ref.current.contains(e.target as Node)) return;
        cb(e);
    }, document as unknown as HTMLElement);
}